{{#projects}}
        {{#if ../card}}
            <div class="card">
        {{else}}
            <div class="nav">
        {{/if}}
        {{#if ../img}}
            <img src="/{{directory}}/thumpnail.png">
        {{/if}}
            <a class="{{highlight this}}" href="/projects/{{directory}}">{{name}}</a>
            </div>
{{/projects}}
